<header class="sg-header sg-header--with-divider">
    <div class="sg-header__container">
        <div class="sg-header__content">
            <div class="sg-header__left"><a href="#" class="sg-home-button"><img
                        class="sg-home-button__logo-small"
                        src="https://styleguide.brainly.com/images/logos/brainly-mobile-6879551770.svg"><img
                        class="sg-home-button__logo-big"
                        src="https://styleguide.brainly.com/images/logos/brainly-5c4a769505.svg"></a></div>
            <div class="sg-header__middle">
            </div>
            <div class="sg-hide-for-small-only">
                <a href="https://brainlyph.slack.com/" target="_blank">
                    <div class="sg-header__right"><button class="sg-button sg-button--solid">
                            <span class="sg-button__icon">
                                <div class="sg-icon sg-icon--adaptive sg-icon--x24">
                                    <svg class="sg-icon__svg">
                                        <use xlink:href="#icon-comment"></use>
                                    </svg>
                                </div>
                            </span>
                            <span class="sg-button__text">Go to Slack</span>
                        </button></button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>