<div class="sg-layout__content">
    <div
        class="instructions sg-box sg-box--light sg-box--padding-m sg-box--border-color-dark sg-box--border">
        <div class="sg-flex">
            <div class="sg-flex sg-flex--margin-right-s">
                <div class="sg-icon sg-icon--adaptive sg-icon--x24">
                    <svg class="sg-icon__svg">
                        <use xlink:href="#icon-verified"></use>
                    </svg>
                </div>
            </div>
            <div class="sg-flex sg-flex--column">
                <h1 class="sg-headline sg-headline--small">Welcome to the Brainliest Team's Feeder!</h1>
                <div class="sg-flex sg-flex--margin-top-s">
                    <div class="sg-text sg-text--small">Here are a few things you need to remember when
                        using this feeder.
                        <ul>
                            <li><b>Do not share this feeder</b> to users who aren't members of the team.
                            </li>
                            <li>Use the hashtag <b>#BrainliestBunch</b> in all your answers.</li>
                            <li>Go back to this feeder whenever you finish answering. To make the best out
                                of our projects, we should be answring on this feed alone.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subject-drop">
        <div class="sg-select subject-select">
            <select class="sg-select__element pick-subject" onchange="location=this.value;">
                <option value="index.html" selected>All Subjects</option>
                <option value="filipino.html">Filipino</option>
                <option value="math.html">Math</option>
                <option value="ap.html">AP</option>
                <option value="english.html">English</option>
                <option value="science.html">Science</option>
                <option value="physics.html">Physics</option>
                <option value="chemistry.html">Chemistry</option>
                <option value="biology.html">Biology</option>
                <option value="history.html">History</option>
                <option value="geography.html">Geography</option>
                <option value="esp.html">ESP</option>
                <option value="economics.html">Economics</option>
                <option value="tle.html">TLE</option>
                <option value="int-science.html">Integrated Science</option>
                <option value="health.html">Health</option>
                <option value="art.html">Art</option>
                <option value="pe.html">PE</option>
                <option value="religion.html">Religion</option>
                <option value="computer.html">Computer</option>
            </select>
        </div>
    </div>
    <div class="loadingscreen" id="loader">
        <div
            class="question sg-box sg-box--light sg-box--padding-m sg-box--border-color-dark sg-box--border">
            <div class="sg-flex">
                <div class="sg-flex sg-flex--column">
                    <img src="img/loading.png" class="loadingimage" width="50%" alt="">
                    <div class="sg-spinner-container" id="spinner">
                        <div class="sg-spinner sg-spinner--small"></div>
                        <h2 class="spinnertext sg-text-bit sg-text-bit--small sg-text-bit--blue-primary">
                            Loading Your Questions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="questions">

    </div>
    <a href="#" id="loadMore"><button class="sg-button sg-button--solid loadmorebutton"><span
                class="sg-button__text">Load More</span></button></a>
</div>