<div class="sg-layout__secondary-content subject-side">
    <div class="sg-flex sg-flex--full-width sg-flex--column">
        <div class="sg-flex sg-flex--column sg-flex--margin-bottom-xs">
        </div>
        <ul class="brn-subject-list">
            <li>
                <div role="button" class="brn-subject-list__subject brn-subject-list__subject--active"
                    tabindex="0">
                    <div class="brn-subject-list__icon"><svg class="sg-subject-icon sg-subject-icon--small">
                            <use xlink:href="#icon-subject-all"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">All subjects</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <a href="filipino.html"></a>
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-language"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Filipino</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-mathematics"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Math</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-social-science"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Araling Panlipunan
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-english"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">English</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-life-science"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Science</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-physics"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Physics</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-chemistry"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Chemistry</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-biology"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Biology</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-history"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">History</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-geography"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Geography</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-philosophy"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">ESP</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-economics"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Economics</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-technology"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">TLE</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-science"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Integrated Science
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-health"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Health</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-music"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Music</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-art"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Art</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-physical-education"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Physical Education
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-religion"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Religion</div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-otherlanguages"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">World Languages
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div role="button" class="brn-subject-list__subject" tabindex="0">
                    <div class="brn-subject-list__icon"><svg
                            class="sg-subject-icon sg-subject-icon--small sg-subject-icon--gray">
                            <use xlink:href="#icon-subject-spanish"></use>
                        </svg></div>
                    <div class="brn-subject-list__name">
                        <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Spanish</div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>